# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

- List popular languages for Data Science 
- List commonly used libraries by Data Scientists 
- List Data Science Tools 

## Author 
Muhammad Bilal

Some of the popular languages that Data Scientists use are: 

1. Python 
2. R language 
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Visual Studio      |
| Google Colab       |
| Jupyter            |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60 
hours = 200 / 60 
hours

3.3333333333333335